.header {
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
  width: 100%;
  z-index: 1;
}

.header .header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
}

.header .logo {
  width: 107px;
}

.header .cart-wrapper {
  display: flex;
  position: relative;
}

.header .cart-wrapper .badge {
  position: absolute;
  top: 10px;
  right: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #c19678;
  color: #fff;
  font-size: 13px;
  line-height: 1;
  text-align: center;
}